<h1>About Us</h1>
<a href="#">Legacy Social Blog</a>
  is a project to reinforce and enhance our getting to know each other more intimately in additon to the Each-One-Reach-One Groups....Stay Tuned!
  <a href="#">Legacy Social Blog</a>. This
  is the Unofficial Legacy Blogging Site. Thank you for dropping by!
</p>

