<footer class="shadow">
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Good News</a></li>
      <li><a href="#">Legacy Social Blog</a></li>
    </ul>
  </nav>
</footer>

